html, body{
    width: 90%;
    height: 90%;
    /* background-color: azure; */
}
    
.flex {
    color: #fff;    
    display: flex;
    flex-direction: row;
    padding: 300px;
    justify-content: space-around;
    align-items: center; 
}
.result {
    height: 100px;
    width: 350px; 
    border-radius: 4px;
    border: 2px solid gray;
    overflow: hidden;    
    margin: 20;
   
}

.result-txt {
    background: linear-gradient(LightCoral, Gold, LightSkyBlue, Gold, LightCoral);
    /* background: linear-gradient(black, gray, black); */
    transition: 5s ease;
    animation-direction:normal;
    animation-fill-mode: forwards;
    transform:translateY(0%);
}

.result-item {
    font-family: "微軟正黑體";
    font-size: 70px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    line-height: 100px;
}
.btn-start, .btn-stop {
    width: 200;
    text-align: center;
    font-size: 50px;
    margin: 20px 10px;
    line-height: 70px;
    border-radius: 2px;
    background: linear-gradient(DarkGray, DimGray);
    cursor: pointer;
}
.btn-start:hover,
.btn-stop:hover {
    transform: scale(1.05);
}

.is-play.result-txt {
    /* animation: resultPlay 1s infinite linear; */
    animation: resultPlay 1s infinite linear ;
}

.is-play3.result-txt {
    animation: resultPlay 3s infinite ease-out;
}

.is-play7.result-txt {
    animation: resultPlay 7s infinite ;
}


@keyframes resultPlay {
    0%{
        transform: none
    }
    100% {
        transform: translateY(-90%)
    }
}

